.VennDiagram
    .Venn
        .ButtonGroup
            button#button-venn.RoundedButton
        .label1.label Human-Computer Interaction
        .label2.label Social Computing
        .label3.label Natural Language Processing
    .venn-pub-list.cp
        ul
            li 
                a(href='#CHI2025') Hashtag Re-appropriation, CHI&rsquo;25
            li 
                a(href='#CSCW2020') How much a `like&rsquo; worth, CSCW&rsquo;20 <i class='fas fa-award'></i>
    .venn-pub-list.ce
        ul
            li
                a(href='#CC2024') CoCo Matrix, CC&rsquo;24
            li 
                a(href='#DASH2022') User or Labor, DaSH&rsquo;22
    .venn-pub-list.pe
        ul
            li 
                a(href='#EMNLP2024') CoCoLoFa, EMNLP&rsquo;24
            li 
                a(href='#AAAI2023') Quantifying Annotation Disagreement, AAAI&rsquo;23