.VennDiagram
    .Venn
        .ButtonGroup
            button#button-venn.RoundedButton
        .label1.label Human-Computer Interaction
        .label2.label Social Computing
        .label3.label Natural Language Processing
    .venn-pub-list.cp
        ul
            li 
                a(href='#CHI2025') Hashtag Re-appropriation, CHI&rsquo;25
    .venn-pub-list.ce
        ul
            li 
                a(href='#EMNLP2024') CoCoLoFa, EMNLP&rsquo;24
    .venn-pub-list.pe
        ul
            li 
                a(href='#AAAI2023') Everyone&rsquo;s Voice Matters, AAAI&rsquo;23