$primary-color: rgb(34, 34, 34);
$secondary-color: #424242;//main text
$primary-highlight: #7c7c7c;//7c7c7c section title and bold
$primary-highlight-light: #dedede;//dedede not used
$secondary-highlight-background: #e4ebdee2;//e4ebdee2 attending, news box shade
$primary-lightgray: #eeeeee;//eeeeee not used
$primary-midgray: #e5e5e5; //e5e5e5 not used
$primary-darkgray: #a7a7a7;//a7a7a7 not used
$primary-lightdark: #3030307d;//3030307d not used
$primary-dark: #323232bd;//323232bd not used
$section-red: #af1f1f55;//1b7e2b55 not used 
$section-yellow: #fdfaf5;//fdfaf5 not used 
$medium-red: #cacaca;//cacaca not used 
$text-yellow:#235968;//aaaaaa not used 
$text-secondary-yellow:#d2d2d2aa;//d2d2d2aa
$text-background-yellow:#d4d4d430;//d4d4d430
$myblue: #205ec9; //205ec9
$mybluebg: #99bfff;//99bfff

$section-header-bg: #ffffff;//ffffff
$section-about-bg: #ffffff;
$section-header-linebreak: #eaeaee;//eaeaee
$section-header-ol: 1px;
$font-family: -apple-system, system-ui, BlinkMacSystemFont;
$link: #798d5b;//77945a hyperlink 
$link-secondary: #d9c0c4;// hyperlink clicked
$announcement-board-bg: #d2d2d240;//d2d2d240
$button-bg: #d2d2d240;//d2d2d240 past attending
